@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


@keyframes neonPulse {
  0%, 100% {
    filter: drop-shadow(0 0 6px rgba(147, 51, 234, 0.6))
            drop-shadow(0 0 12px rgba(6, 182, 212, 0.5));
  }
  50% {
    filter: drop-shadow(0 0 10px rgba(147, 51, 234, 0.9))
            drop-shadow(0 0 20px rgba(6, 182, 212, 0.8));
  }
}

.animate-neon {
  animation: neonPulse 3s infinite ease-in-out;
}


button {
  cursor: pointer;
}